* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
}

body {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-transform: capitalize;
  color: #222222;
  font-size: 30px;
  font-weight: 700;
}

h3 {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.correct_pointer::before {
  left: auto !important;
  right: 232px;
}

.header {
  height: 100px;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.17)*/
  border: 1px solid #ececec;
  background-color: #ffffff;
}

.header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__browse {
  color: #222222;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  padding: 9px 9px 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header__browse:hover .drop__browse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  margin-top: 7px;
  margin-left: -16px;
}

.header__input {
  width: 280px;
  height: 36px;
  padding-left: 16px;
  border: 1px solid #e6e6e6;
  font-family: "Lato", sans-serif;
}

.header__search {
  width: 36px;
  height: 38px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  color: #a4a4a4;
  cursor: pointer;
}

.rose_button {
  background-color: #f16d7f;
  padding: 10px 12px 10px 19px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: capitalize;
}

.fa-sort-desc {
  margin-left: 8px;
  color: #838383;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.fa-sort-desc-white {
  color: #ffffff;
}

.arrow-bottom {
  border-bottom-color: yellowgreen;
  border-top: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 37px;
  font-weight: 300;
  font-size: 27px;
}

.logo__img {
  margin-right: 13px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart {
  margin-right: 26px;
  position: relative;
}

.cart_drop {
  display: none;
}

.cart:hover .cart_drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.cart-white {
  margin-right: 8px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  background-color: #ffffff;
}

.menu__link {
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  padding: 20px;
}

.menu__list {
  position: relative;
}

.menu__list:hover .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_reverse {
  left: auto;
  right: -150px;
}

.menu_reverse::before {
  left: auto;
  right: 200px;
}

.drop {
  margin-top: -5px;
  padding: 20px 20px 0 20px;
  position: absolute;
  border-radius: 5px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.drop::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -7px;
  left: 32px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}

.drop h3 {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.drop li {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.drop ul {
  margin: 15px 0 20px 0;
}

.drop-line {
  padding-bottom: 1px;
  width: 235px;
  background-color: #e8e8e8;
  margin-right: 45px;
}

.drop-wrapper img {
  margin-left: -17px;
}

.promo {
  height: 613px;
  background-color: #e8e8e8;
}

.promo__flex {
  height: 100%;
  background-image: url(img/promo-back.jpg);
  background-position: 0 -52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo__content {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.promo__text {
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 31px;
}

.promo__text_big {
  font-size: 60px;
  line-height: 43px;
  margin-bottom: 20px;
}

.pink {
  color: #f16d7f;
  font-weight: 900;
}

.pink-deal {
  font-size: 30px;
}

.deals {
  height: 853px;
  margin: 100px 0;
}

.deal__flex {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.deal__flex img {
  margin: 10px;
}

.sticker-text {
  font-size: 18px;
  position: absolute;
  margin: 36px 0 0 10px;
  text-transform: uppercase;
  padding: 0 20px 0 19px;
  background-color: #ffffff;
  height: 82px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
}

.goods__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.item {
  margin-top: 60px;
}

.item-name {
  margin: 20px 0 17px 14px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.item-cost {
  margin-left: 14px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.item-image {
  position: relative;
}

.item-image-hover {
  position: absolute;
  margin-top: -283px;
  width: 100%;
  height: 281px;
  background-color: rgba(58, 56, 56, 0.8);
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item:hover .item-image-hover {
  display: block;
}

.add-to-cart-hover {
  margin: 100px 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 39px;
  width: 123px;
  color: #ffffff;
}

.button-wrapper {
  margin: 79px 0 100px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fa-long-arrow-right {
  margin-left: 9px;
}

.spec-offer {
  width: 100%;
  height: 529px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 100px;
}

.offer-left {
  height: 100%;
  width: 767px;
  background: url("img/specoffer.jpg") no-repeat;
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
}

.offer-right {
  width: 373px;
  height: 100%;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.offer-undertext {
  font-size: 32px;
}

.offer-text {
  position: absolute;
  margin: 146px 0 0 39px;
}

.benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding-right: 43px;
}

.benefit-icon {
  margin: 0 33px 0 36px;
}

.benefit-description-header {
  text-transform: capitalize;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  margin-left: 3px;
}

.benefit-description-text {
  margin-top: 17px;
  word-wrap: break-word;
  text-align: justify;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
}

.subscribe {
  width: 100%;
  height: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

/*background: url("img/sub_bg.png") no-repeat*/
/*opacity: 0.4*/
.subscribe::after {
  content: "";
  background: url("img/sub_bg.png") no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: 100% 100%;
}

.sub__prewrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 1140px;
}

.sub__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.sub-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 111px 0 0 0;
  border-right: 1px solid #ffffff;
}

.quote-wrapper {
  width: 386px;
}

.sub-left img {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin: -12px 28px 0 0;
  width: 83px;
  height: 83px;
}

.sign {
  margin-top: 19px;
  color: #222224;
  font-size: 12px;
  font-weight: 300;
}

.quote {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  word-wrap: break-word;
  text-align: justify;
}

.pink-quote {
  font-size: 16px;
  font-weight: 700;
}

.sub-header {
  color: #222224;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.sub-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-right p {
  text-align: center;
}

.sub-text {
  font-size: 14px;
  margin-bottom: 35px;
}

input[type="email"] {
  border-radius: 23px;
  background-color: #e1e1e1;
  width: 334px;
  height: 46px;
  border: 0;
  padding-left: 28px;
}

.submit-button {
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  padding: 14px 20px 15px 21px;
  border: 0;
  margin-left: -52px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  cursor: pointer;
}

.sub-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.switching-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 4px;
  margin: 41px 43px 0 1px;
}

.switching-line {
  background-color: #d6d6d6;
  padding-top: 4px;
  width: 38px;
  margin-right: 13px;
}

.switching-line:hover {
  background-color: #f16d7f;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 100px 0 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info {
  width: 427px;
}

footer nav li {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 59px;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer h2 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.footer-info li {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
}

.footer-text {
  margin-top: 30px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 300;
}

.footer-icons {
  background-color: #e6e6e6;
}

.footer-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.icons-left-side {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
}

.icons-right-side {
  font-size: 16px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-right-side i {
  color: #b2b2b2;
  margin-left: 7px;
  width: 32px;
  height: 32px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icons-right-side i:hover {
  background-color: #f16d7f;
  color: #f7f7f8;
}

.page_header_left {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.actual_breadcrumb {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
}

.page_header {
  background-color: #f8f3f4;
}

.page_header_wrapper {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page_header_breadcrumbs {
  font-size: 14px;
  text-transform: uppercase;
  color: #636363;
  font-weight: 300;
}

.slider {
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider i {
  height: 47px;
  width: 47px;
  background-color: rgba(42, 42, 42, 0.3);
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_content {
  height: 777px;
  width: 100%;
  background: url("img/girl_on_chair.jpg") no-repeat center;
  position: relative;
  z-index: 0;
}

.order {
  height: 730px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: -75px;
  margin-bottom: 120px;
  position: relative;
  z-index: 1;
}

.order_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order_content_rose_head {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 73px;
}

.order_content_switcher_subwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0 17px 0;
}

.order_content_switcher_grey {
  padding-bottom: 1px;
  width: 147px;
  background-color: #eaeaea;
  position: relative;
}

.order_content_switcher_rose {
  position: absolute;
  width: 63px;
  padding-bottom: 3px;
  background-color: #ef5b70;
}

.order_content_subhead {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 67px;
}

.order_content_text {
  width: 618px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
}

.order_content_spec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 28px 0 37px 0;
}

.order_content_spec p {
  margin: 0 22px 0 22px;
}

.order_content_spec_black_text {
  color: #2f2f2f;
}

.order_content_price {
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 43px;
}

.order_content_liner {
  width: 642px;
  padding-bottom: 1px;
  background-color: #eaeaea;
  margin-bottom: 63px;
}

.order_content_customization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 538px;
}

.order_content_customization_color_selector select {
  margin-top: 16px;
  width: 144px;
  height: 35px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  padding-left: 37px;
}

.order_content_customization_size_selector select {
  margin-top: 16px;
  width: 144px;
  height: 35px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  padding-left: 15px;
}

.order_content_customization_quantity_selector input {
  margin-top: 16px;
  width: 140px;
  height: 31px;
  margin-bottom: 28px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  padding-left: 15px;
}

.order_content_customization_quantity_selector input::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 400;
  padding-left: 15px;
  color: #bcbcbc;
}

.order_content_customization_quantity_selector input:-ms-input-placeholder {
  font-size: 13px;
  font-weight: 400;
  padding-left: 15px;
  color: #bcbcbc;
}

.order_content_customization_quantity_selector input::-ms-input-placeholder {
  font-size: 13px;
  font-weight: 400;
  padding-left: 15px;
  color: #bcbcbc;
}

.order_content_customization_quantity_selector input::placeholder {
  font-size: 13px;
  font-weight: 400;
  padding-left: 15px;
  color: #bcbcbc;
}

.order_content_customization_color_header {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.order_content_customization_size_header {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.order_content_customization_quantity_header {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
}

.order_content_add_to_cart {
  width: 537px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order_content_add_to_cart img {
  margin-right: 15px;
}

.order_content_add_to_cart_text {
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
}

.like_also {
  margin-bottom: 94px;
}

.like_also p {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 900;
  line-height: 20px;
  text-transform: uppercase;
}

.like_also_header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */